
<div class ="rows">
	<table class="table table-hover" id="table_downloads">
	<thead>
<tr>
<th>Artist Name</th>
<th>Release Date</th>
<th>Track Name</th>

</tr>
</thead>
<tbody>
	{{#Latest_tracks}}
<tr>

<td>{{artist_name}}</td>
<td>{{release_date}}</td>
<td>{{track_name}}</td>

<td><a href="/view  track//{{id}}"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></a>
 <a href="//download/{{id}}"><span class="glyphicon glyphicon-download" aria-hidden="true"></span>
</button></a></td>
</tr>
{{/Latest_tracks}}
</tbody>
</table>
</div>
